{
    "**/*.{ts,vue}":       [
        "yarn lint:ts --fix"
    ],
    "**/*.{css,scss,vue}": [
        "yarn lint:style --fix"
    ],
    "*":                   [
        "yarn lint:prettier",
        "yarn dist"
    ]
}
